div.index {
	border-style: solid;
	border-width: 4px;
	width: 100%;
	height: 230px;
	padding: 10px;
}


/*Часть, без которой не будет работать плавная смена цвета при наведении */
img {
border: solid 3px #333;
border-radius: 55px;
}

img.link {
border: none;
}

.linkBANNER1, .linkBANNER2, .linkBANNER3, .linkBANNER4 {
border: solid 3px #333;
border-radius: 38px;
background: red;
height: 100px;
width: 100px;
margin-left: 59px;
transition-property: background;
transition-duration: 2s;
transition-timing-function: ease-out;
}

/*Цвет фона блока при наведении*/
div.linkBANNER1:hover {
background: blue;
}

div.linkBANNER2:hover {
background: green;
}

div.linkBANNER3:hover {
background: #fff000;
}

div.linkBANNER4:hover {
background: pink;
}




.column {width: 270px; height: 150px; margin-left: 90px; float: left;}

.column2 {width: 270px; height: 150px; margin-left: 90px; float: left; margin-top: 220px;}

.category-grid-descr,.category-grid-img{position:absolute;width:100%;height:220px;top:0}

.category-wrap {position:relative;height:310px;overflow:hidden;margin-bottom:1rem;box-shadow:0 0 8px rgba(0,0,0,.2)}

.category-wrap h2{margin:30px 0 0;width:100%;position:absolute;top:220px;font-size:1.2rem;line-height:1.2}

div.category-grid-img{background:#7f8c8d;z-index:2;transition:.7s .5s;}

div.category-grid-img a{display:block;padding:60px 10px;}

.category-grid-link {color:black;text-decoration:none;transition-duration: 0.7s;transition-timing-function: ease-in;}

.category-grid-link:hover {color:orange;text-decoration:underline;cursor:help;}

.category-grid-descr{padding:0px;transition:.7s .5s;overflow:auto;background:#f8f7f7;color:#282828;font-size:.8rem;z-index:1}

.category-grid-level{position:absolute;width:100%;bottom:0;font-size:.8rem;background:#f5f6f8;color:#7f8c8d;padding:5px;margin:0;}

.view-header,p{margin-bottom:1rem}

.category-grid:hover .category-grid-img{margin-top: -220px}

div.category-grid-img::before, .category-grid-img::before, .column:nth-child(3) .category-grid-img::before{content:'Эксклюзивно';position:absolute;z-index:10;top:30px;left:-55px;background:#e03e25;color:#fff;padding:3px 60px;font-size:.8rem;transform:rotateZ(-45deg)}
