@font-face {
    font-family: coolveticarg-regular;
    src: url(fonts/coolveticarg-regular.ttf);
   }


#toTop {
	width: 100px;
	border: 1px solid #ccc;
	border-radius: 100px;
	background: #fff;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 140px;	
	right: 20px;
	cursor: pointer;
	display: none;
	color: #000;
	font-family: Comic Sans MS;
	font-size: 11px;
	font-style: italic;
}



body {	margin: 0;
	padding: 0;}   
   
h1 {
	margin-top: 1px;
	margin-bottom: 2px;
	margin-left: 5px;
}
h1 a{
	color: #000;
	text-decoration: none;
}
h1 a:hover {
	color: #a8832b;
}
body {
	 font-family: coolveticarg-regular, 'Comic Sans MS';
}
header {
	max-width: 1200px;
	max-height: 1200px;
	margin-left: auto;
	margin-right: auto;	
	height: 50px;	
}
#headnav {
	float: right;
	margin-top: -50px;
}
article.a1{
	margin: 0 auto 50px;
	max-width: 1200px;
	max-height: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	border-radius: 3px;
	height: 600px;
}

article.a2 {
	margin: 0 auto 50px;
	max-width: 1200px;
	max-height: 1200px;
	margin-left: auto;
	margin-right: auto;	
	height: 3000px;
	}
footer {
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
	width: 100%;
	height: 100px;
	background: #333;
	color: #fff;

}

/*Меню*/
#nav{
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
}

#nav li{
    float: left;
    margin-right: 20px;/*Расстояние между элементами*/
    position: relative;
    display: block;
}

#nav li a{
    display: block;
    padding: 5px;
    color: #fff;
    background: #333;
    text-decoration: none; /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
}

#nav li a:hover{
    color: #fff;
    background: #6b0c36;
    background: rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
    text-decoration: none;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
/* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}
/* изображения внутри окна */
.popup img {
    width: 100%;
    height: auto;
}
/* миниатюры слева/справа */
.pic-left, 
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
/*
.popup h2 { /* заголовок 2 
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}*/
/* параграфы */
.popup p {margin: 0; padding: 5px 0}