span.p {margin-left: 10px;}

table.exmple {width: 100%; border-style: solid; border-width: 1px;}

td {padding: 10px;}

td.td1 {width: 150px;}

t {font-weight: normal;}

tr.exmple1 {background: #ddd;}

td.exmple2 {background: #f0f0f0;}

span.teg {color: #2a6dca;}

span.atriput {color: #00ae5d;}

span.nomber {margin-top: 5px;}

span.opredelenie {color: #bf54b6;}

span.coments_css {color: #a9a9a9;}

span.coments_html {color: #ff6b2a;}

span.doctype {color: #ff0000;}

.function {
	font-size: 28px;
	color: green;
}



.attr {
	color: orange;	
}

div.demo {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em; //* изменения  отступа для регулировки размера *//
	text-shadow: 0 1px 1px rgba(0,0,0,.3); //* эффект тени для текста *//
	-webkit-border-radius: .5em;  //* закругленные углы *//
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); //* эффект тени для блока кнопки *//
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
div.demo:hover {
	text-decoration: none;
}
div.demo:active {          //* смещение на 1px вниз *//
	position: relative;  
	top: 1px; 
}

div.demo {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d; /*цвет фона кнопки для браузеров без поддержки CSS3*/
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); /* для Webkit браузеров */
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20); /* для Firefox */
        background-image: -o-linear-gradient(top,  #faa51a,  #f47a20); /* для Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); /* фильтр для IE */
}
div.demo:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        background-image: -o-linear-gradient(top,  #f88e11,  #f06015);/* для Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
div.demo:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
        background-image: -o-linear-gradient(top,  #f47a20,  #faa51a);/* для Opera 11 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

a.a3 {
	margin-bottom: 40px;
	margin-right: 20px;
	float: right;
	color: #fff;
	text-decoration: none;
}

a.a3:hover {
	text-decoration: underline;
}