body {
	font-family: Comic Sans MS;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: -3px;
	margin-bottom: 2px;
	margin-left: 5px;
}
h1 a{
	color: #333;
	text-decoration: none;
}
h1 a:hover {
	color: #a8832b;
}

header {
	max-width: 1200px;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#headNav {
	float: right;
	margin-top: -50px;
}

/*Меню*/
#nav {
	list-style: none;
	font-weight: bold;
	margin-bottom: 10px;
}

#nav li{
	float: left;
	margin-right: 20px;
	position: relative;
	display: block;
}

#nav li a{
	display: block;
	padding: 5px;
	color: #fff;
	background: #333;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
}

#nav li a:hover{
	color: #fff;
	background: #a8832b;
	text-decoration: none;
}


img {
border: solid 3px #333;
border-radius: 55px;
}

img.link {
border: none;
}

.linkBANNER1, .linkBANNER2, .linkBANNER3, .linkBANNER4 {
border: solid 3px #333;
border-radius: 38px;
background: red;
height: 100px;
width: 100px;
margin-left: 59px;
transition-property: background;
transition-duration: 2s;
transition-timing-function: ease-out;
}


div.linkBANNER1:hover {
background: blue;
}

div.linkBANNER2:hover {
background: green;
}

div.linkBANNER3:hover {
background: #fff000;
}

div.linkBANNER4:hover {
background: pink;
}

.emptyLinkBannerAll {
	max-width: 1200px;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.H2LinkBanner {
	color: red;
}

span.ex {
	font-family: Segoe Script;
}

.buttonText {
	color: #988686;
	text-align: center;
}

.imgLeft {
	float: left;
}

.imgRight {
	float: right;
	margin-left: 7px;
}

.in_banner {
	max-width: 1200px;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 15px;
}

.textBanner {
	color: white;
	font-size: 30px;
}

.linkBanner {
	font-size: 25px;
	text-decoration: none;
}

a:visited.linkBanner {
	color: blue;
	text-decoration: none;
}

.linkA {
	background: orange;
	width: 158px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	transition-property: background box-shadow width height;
	transition-duration: 2s;
	transition-timing-function: ease-out;
	height: 35px;
}

.linkA:hover {
	background: #4EDBAC;
	width: 184px;
	box-shadow: 5px 5px 9px white;
	height: 50px;
	vertical-align: center;
}

.emptyLinkBanner {
	height: 210px;
	width: 220px;
	float: left;	
}
.allLinkFloat {
	margin-left: 100px;
}

footer {
	width: 100%;
	height: 120px;
	background: #333;
	color: #fff;
}

span.p1 {
	float: left;
}

span.p2 {
	float: right;
	text-align: right;
	margin-right: 40px;
}

a.span_link {
	color: #fff;
}

a.span_link:hover {
	text-decoration: none;
}

section {
	margin-bottom: 20px;
	margin-top: 300px;
	max-width: 1200px;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px;
	text-align: center;
	padding-top: 25px;
	height: 700px;
}

.column {width: 270px; height: 150px; margin-left: 90px; float: left;}

.column2 {width: 270px; height: 150px; margin-left: 90px; float: left; margin-top: 220px;}

.category-grid-descr,.category-grid-img{position:absolute;width:100%;height:220px;top:0}

.category-wrap {position:relative;height:310px;overflow:hidden;margin-bottom:1rem;box-shadow:0 0 8px rgba(0,0,0,.2)}

.category-wrap h2{margin:30px 0 0;width:100%;position:absolute;top:220px;font-size:1.2rem;line-height:1.2}

.category-grid-img{background:#7f8c8d;z-index:2;transition:.7s .5s;}

.category-grid-img a{display:block;padding:60px 10px;}

.category-grid-link {color:black;text-decoration:none;transition-duration: 0.7s;transition-timing-function: ease-in;}

.category-grid-link:hover {color:orange;text-decoration:underline;cursor:help;}

.category-grid-descr{padding:0px;transition:.7s .5s;overflow:auto;background:#f8f7f7;color:#282828;font-size:.8rem;z-index:1}

.category-grid-level{position:absolute;width:100%;bottom:0;font-size:.8rem;background:#f5f6f8;color:#7f8c8d;padding:5px;margin:0;}

.view-header,p{margin-bottom:1rem}

.category-grid:hover .category-grid-img{margin-top: -220px}

.category-grid-img::before, .category-grid-img::before, .column:nth-child(3) .category-grid-img::before{content:'Это надо знать!';position:absolute;z-index:10;top:30px;left:-55px;background:#e03e25;color:#fff;padding:3px 60px;font-size:.8rem;transform:rotateZ(-45deg)}

.top-panel {
	background: #39464e;
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: top 400ms cubic-bezier(0.17,0.04,0.03,0.94)
}
/* Блок сообщения */
.message {
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 3em 2em;
    margin: 0 auto;
    max-width: 980px
}
/* Заголовок 1 уровня */
.message h1 {
    color: #fff
}
/* Заголовок 2 уровня */
.message h2 {
    color: #888
}
.message p {
    margin: 1em 0
}
.message a {
    text-decoration: none;
    color: #748b74
}
.message a:hover {
    color: #95984b
}
/* Переключатель панели */
label.btn {
	left: 0;
	display: block;
    position: absolute;
    top: 280px;
    cursor: pointer;
    background: #2bbbad;
    width: 55px;
	height: 50px;
    border-radius: 0 5px 5px 0px;
    padding: 8px 5px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.17,0.04,0.03,0.94);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 9999
}
/* Переключатель при наведении */
label.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
}
/* Стрелка переключателя вниз */
label.btn:after {
    content: '˅';
    font: normal 18px/1 FontAwesome;
    text-decoration: inherit
}
/* Активация панели */
.open:checked ~ .top-panel {
    top: 0
}

.open:checked ~ label.btn {
    top: 250px
}
/* Смещение контейнера контента страницы */
.open:checked ~ .container {
    margin-top: 300px
}
/* Цвет переключателя при клике */
.open:checked + label.btn {
    background: #dd6149
}
/* Стрелка переключателя вверх*/
.open:checked + label.btn:after {
    content: '˄';
    font: normal 18px/1 FontAwesome
}
/* Контейнер контента */
.container {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    transition: margin 400ms cubic-bezier(0.17,0.04,0.03,0.94);
    padding: 5em 3em;
}

span.vertical-text {
	font-weight: bold;
	transform: rotate(90deg);
	transform-origin: left top 0;
}