a.a1 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #a6a6a6;
}

a.a1:hover {
	color: #66cc33;
	background: #808080;
}

a.a2 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #66cc33;
	background: #808080;
}

a.a9 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #a6a6a6;
}

a.a9:hover {
	color: #8B0000;
	background: #DC143C;
}

a.a0 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #8B0000;
	background: #DC143C;
}

a.a7 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #a6a6a6;
}

a.a7:hover {
	color: #fff;
	background: #33cc66;
}

a.a8 {
	margin: 5px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	display: block;
	text-decoration: none;
	color: #66cc33;
	background: #33cc66;
}

h1.h {font-size: 28px;}

h2 {font-size: 20px;}
	
div.d1 {border-right-style: solid;
	border-right-color: #999;
	width: 30%;
	height: 678px;
	float: left;}

div.d2 {width: 67%; float: right; margin-bottom: 200px;}

article.a3 {max-width: 1200px;	
	margin-left: auto;
	margin-right: auto;	
	height: auto;}

p {font-size: 18px;}

p.p {margin: 10px;}

/*Сыллка с плавным наведением*/	


/*-------------------html-----------------------------------*/
a.href1 {
	text-decoration: none; 
	color: #000;
}

a.href1:hover {
	text-decoration: underline;
	color: ;
}

div.h1h2h3h4h5h6 {
	padding: 15px;
	color: #ff0000;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
}
/*-------------------html-----------------------------------*/